/*Colours*/

/*Cyan: #10BEF0
Grey: #424142
Black: #000000*/

/*General styles*/

* {
   font-family: 'Oswald', sans-serif;
}

body {
    overflow-x: hidden;
}


.wrapper {
    min-width: 340px;
    max-width: 50rem;
    margin: auto;
}


h1 {
    background-color: lightcoral;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 350;
    padding: 15px;
}


p {
    color: black;
    padding: 25px;
    font-size: 0.85rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
}

button {
    background-color: transparent;
  
    
}

/*Nav styles*/

#nav-logo {
    width: 161px;
}

nav {
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

nav i {
    vertical-align: middle;
    font-size: 1.6em;
}

nav a {
    color: black;
    text-align: center;
}


main {
    margin-top: 90px;
}

.jumbotron {
    background: none;
    border: solid 2px lightcoral;
    margin 15px;
}

.jumbotron #jumbo-intro {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 900;
    
}

.jumbotron h2 {
    color: white;
   font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 10em;
    padding: 18px;
    color: coral;
}

.jumbo-img {
    max-height: 500px;
    max-width: 236.656px;
    height: auto;
    object-fit: fill;
    
}


hr {
    background-color: lightcoral;
    height: 2px;
    width: 80%;
}

.jumbotron .port-button {
    padding: 0;
}

.port-button p {
        margin-bottom: 0;
}

.jumbotron button p{
    padding: 5px;
    text-align: center;
    color: lightcoral;
}

.jumbotron button p:hover {
    background-color: lightcoral;
    color: black;
    text-decoration: none;
    transition: 1.5s ease;
}

#button-active {
    background-color: lightcoral;
    color: black; 
}


/*Footer styles*/

footer {
    background-color: grey;
    box-shadow: 0 50vh 0 50vh #414041;
    padding-bottom: 30px;
    padding-top:30px;
}



footer a {
    color: white;
    text-align: center;
}

footer a i {
    font-size: 1.2em;

}

footer a p {
    font-family: 'Oswald', sans-serif;
    font-weight: 350;
}

footer a:hover {
    color: lightcoral;
    text-decoration: none; 
}

footer a i:hover {
    transition: 1.5s ease;
    font-size: 2em;
}

footer a p:hover {
    color: lightcoral;
    text-decoration: none;
    transition: 1s ease;
}

/*Styles for Table size viewport*/

@media (min-width: 768px) {
    
        nav li {
        margin-right: 50px;
    }
    
    nav li:first-of-type {
        margin-left: 50px
    }
    
    /* Portfolio Page*/
    
    .jumbotron {
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .jumbotron h2 {
        font-size: 2em
    }
    
    footer {
        clear: both;
    }
    
    .jumbotron button p{
        border: double 7px lightcoral;
    }
    
}

@media (min-width: 992px) {
    p {
        font-size: 1.3rem;
        line-height: 1.6;
    }
    
    
}